@*@model string*@
@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<button class="btn btn-sm btn-primary">
    <i class="fa-regular fa-floppy-disk"></i>
    更新紀錄
</button>
